
.heading{
    font-size: 100px;
    position: relative;
    top: -90px;
    font-family: Arial, Helvetica, sans-serif;
}


.opiniones{
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    border: 1rem solid rgba(0,0,0 .2);
    box-shadow: 0 .5rem rgba(0,0,0 .1);

}

.caja-contenedor{
    background-color: #FF8000;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    border-radius: 10px;
    top: -140px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1rem solid rgba(0,0,0 .2);
    box-shadow: 0 .5rem rgba(0,0,0 .1);

}


.caja{
    background-color: rgb(245, 245, 245);
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border: 1rem solid rgba(0,0,0 .2);
    box-shadow: 0 .5rem rgba(0,0,0 .1);
}

img{
    border-radius: 50%;
    object-fit: cover;
    height: 8rem;
    width: 8rem;
    margin-top: 2rem;
}

h3{
    color: #FF8000;
    font-size: 3rem;
    font-weight: bold;
}

.stars{

    position: relative;
    top: -22px;
    color: black;

}


.comentarios{
    position: relative;
    top:-11px;
    font-weight: bold;

}


#icono{
    position: absolute;
    top: 1rem;
    right: 2rem;
    left: 1500px;
}