body {
  display: block;
  margin: 0px;
  background-color: lightgoldenrodyellow;
}

.item1 { grid-area: header; height:70px;}
.item3 { grid-area: main; }


.grid-containers {
display: grid;
grid-template-areas:
  'header header header header'
  'main main main main';
gap: 10px;
padding: 10px;
}

.grid-container > div {
text-align: center;
padding: 20px 0;
font-size: 30px;
}

.item2 {
  background-color: rgba(255, 255, 255, 0.8);
}

.grid-container-numeros {
display: grid;
grid-template-columns: auto auto auto auto;
gap: 10px;
}

.grid-container-numeros > div {
background-color: rgba(255, 255, 255, 0.8);
text-align: center;
padding: 50px 0;
font-size: 30px;

}

ul.demo {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.imagen_producto{
  width:278px;
  height: 200px;
}

.logo {
  float:left;
  width:150px;
  height: 100px;
}


ul.topnav {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

ul.topnav li {
float: left;
}

ul.topnav li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
margin: 0 30px;

}
ul.topnav li.right {
float: right;
}  
.search input[type=text]{
width:300px;
height:25px;
border-radius:25px;
border: none;
}

.search{
margin:7px;
position:absolute;
right:0px;
top: 150px;
right:20px;

}

