*{
    box-sizing: border-box;
}
body{
    background-color: lightgoldenrodyellow;
}
main{
    padding: 10px;
    margin: 10px;
    margin-top: 550px;
    height: 420px;
}
.container{
    align-items:center;
    width: 100%;
    max-width: 400px;
    position: relative;
    top: -520px;
    left: 470px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.container form{
    padding: 80px 20px;
    background:#fff;
    position: relative;
    border-radius: 20px;
}
.container form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color:#FF8000;
}
.container form input{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
}
.container form button{
    padding: 10px 50px;
    margin-top: 40px;
    border: none;
    font-size: 15px;
    background: #FF8000;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    left: 90px;
    position: relative;
    top: -20px;
}

@media screen and (max-width: 850px){
    main{
        margin-top: 50px;
    }
    .container{
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .container{
        position: relative;
    }
}