img{
    width: 100px;
    height: 100px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    position: relative;
    background-color: white;
    top: -100px;
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

.logo{
    font-size: 1.1rem;
    color: red;
    font-weight: 400;
}


#icon-cart{
    font-size: 1.8rem;
    cursor: pointer;
}


.section-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}


.product-box{
    position: relative;
}

.product-img{
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.product-title{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.price{
    font-weight: 500;
}

.cart-add{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: aqua;
    padding: 10px;
    cursor: pointer;
}

.cart-add:hover{
    background: hsl(249, 32%, 17%);
}

.carta{
    position: fixed;
    top: 0;
    right: 0;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background-color: white;
    box-shadow: -2px 0 4px hsl(0, 4%, 15% /10%);
    transition: 0.3s;
}

.carta.active{
    right: 0;
}


.carta-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.carta-box{
    display: grid;
    grid-template-columns:  32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.carta-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detalles-box{
    display: grid;
    row-gap: 0.5rem;
}

.carta-product-title{
    font-size: 1rem;
    text-transform: uppercase;
}
.carta-price{
    font-weight: 500;
}

.carta-quantity{
    border: 1px solid black;
    outline-color:orange ;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.carta-remove{
    font-size: 24px;
    color: red;
    cursor: pointer;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
}

.title-total{
    font-size: 1rem;
    font-weight: 600;
}

.price-total{
    margin-left: 0.5rem;
}

.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: orange;
    color: black;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

#close-cart{
    position: absolute;
    top: 1rem;
    right:0.8rem;
    font-size: 2rem;
    color: red;
    cursor: pointer;
}